body {
    background-image: url("img/Fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    color: white;
}

.Vendedor_cor{
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#produtos {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

#preco {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#preco:hover{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(150, 150, 150);
}

#vendedor{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cliente {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

#produtos2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

#preco2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#preco2:hover{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 65, 65);
}

#vendedor2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cliente2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

#produtos3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

#preco3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#preco3:hover{ 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 65, 65);
}

#vendedor3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cliente3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#produtos4 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

#preco4 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#preco4:hover{ 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 65, 65);
}

#vendedor4{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cliente4 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


